/.vs/Pong
/x64/Debug
/x64/Release/Pong.tlog
/x64/Release/main.obj
/x64/Release/Pong.vcxproj.FileListAbsolute.txt
/x64/Release/Pong.pdb
/x64/Release/Pong.log
/x64/Release/Pong.ipdb
/x64/Release/Pong.iobj
/x64/Release/Pong.exe.recipe
/x64/Release/vcpkg.applocal.log
/x64/Release/vc143.pdb
/x64/Release/raylib.dll
